{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform id="sample-page" label="Sample Fluid page">
		<flux:flexform.field.custom name="void" label="Explanation">
			<h2>Welcome to the Fluid Pages world!</h2>
			<p>
				This template file is located at EXT:fluidpages/Resources/Private/Templates/Page/Render.html - take
				a look at this file to learn how to create Fluid Page Templates.
			</p>
			<h3>Very quick-n-dirty tutorial</h3>
			<p>
				* Template files are scanned from directories which are added by inserting TypoScript (see
				EXT:fluidpages/Configuration/SamplePage/setup.txt).
			</p>
			<p>
				* Each template file contains a Flux FlexForm definition (see this file).
			</p>
			<p>
				* This template file contains sections rendered by the very simple Layout.
			</p>
			<p>
				* A Partial template contains the navigation blocks (main menu, sub menu) and illustrates how to share
				between pages various objects such as a menu.
			</p>
		</flux:flexform.field.custom>
		<flux:flexform.field.input name="settings.entryLevel" label="Main menu entry level override for this page only"
		        eval="int,trim" minimum="0" maximum="6" default="{v:var.typoscript(path: 'lib.menu.main.entryLevel')}">
			<flux:flexform.field.wizard.slider hideParent="TRUE" step="1" width="100" />
		</flux:flexform.field.input>
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="1" name="Hero Unit" />
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="0" name="Main Content" />
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="2" name="Footer Content" />
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Resources">
	<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</f:section>

<f:section name="Content">
	<!-- main content output - default rendering -->
	<v:page.content.render column="0" />
</f:section>

<f:section name="Footer">
	<!-- footer, optional content elements from colPos 2 (two) -->
	<v:page.content.render column="2" as="footerContentElements">
		<f:if condition="{footerContentElements}">
			<div class="footer">
			<span class="right">
				<f:for each="{footerContentElements}" as="footerContentElement">
					<f:format.raw>{footerContentElement}</f:format.raw>
				</f:for>
			</span>
			</div>
		</f:if>
	</v:page.content.render>
</f:section>

</div>