{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="PageHeader">
	<div class="page-header">
		<h1>{page.title}</h1>
	</div>
</f:section>

<f:section name="Navigation">
	<div id="navbar" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{v:site.url()}"><v:site.name /></a>
				<v:page.menu entryLevel="{v:var.typoscript(path: 'lib.menu.main.entryLevel')}">
					<ul class="nav">
						<f:for each="{menu}" as="mainPage">
							<li class="{mainPage.class}"><a href="{mainPage.link}" class="{mainPage.class}">{mainPage.title}</a></li>
						</f:for>
					</ul>
				</v:page.menu>
			</div>
		</div>
	</div>
</f:section>

<f:section name="SubNavigation">
	<!-- submenu navigation, collapsible -->
	<v:page.menu entryLevel="{v:var.typoscript(path: 'lib.menu.sub.entryLevel')}">
		<f:if condition="{menu}">
			<div class="subnav">
				<div class="container">
					<ul class="nav nav-tabs">
						<f:for each="{menu}" as="submenuPage">
							<li class="{submenuPage.class}"><a href="{submenuPage.link}" class="{submenuPage.class}">{submenuPage.title}</a></li>
						</f:for>
					</ul>
				</div>
			</div>
		</f:if>
	</v:page.menu>
</f:section>

<f:section name="HeroUnit">
	<!-- hero unit, optional content elements from colPos 1 (one) -->
	<v:page.content.render column="1" as="heroUnitContentElements">
		<f:if condition="{heroUnitContentElements}">
			<div class="hero-unit">
				<f:for each="{heroUnitContentElements}" as="heroContentElement">
					<f:format.raw>{heroContentElement}</f:format.raw>
				</f:for>
			</div>
		</f:if>
	</v:page.content.render>
</f:section>

</div>
