{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<v:page.header>
	<f:render section="Resources" optional="TRUE" arguments="{_all}" />
</v:page.header>

<f:render section="Navigation" partial="PageObjects" arguments="{_all}" />

<div class="container">
	<v:security.allow anyBackendUser="TRUE">
		<v:once.session>
			<div class="alert alert-success">
				<h1 class="alert-header">Welcome to the Fluid Pages sample page!</h1>
				<p>
					This page is the built-in sample Fluid Pages template file being
					rendered by EXT:fluidpages. Looks like you set things up just right!
				</p>
			</div>
		</v:once.session>
	</v:security.allow>
	<f:render section="HeroUnit" partial="PageObjects" optional="TRUE" arguments="{_all}" />
	<f:render section="PageHeader" partial="PageObjects" optional="TRUE" arguments="{_all}" />
	<f:render section="SubNavigation" partial="PageObjects"  optional="TRUE" arguments="{_all}" />
	<f:render section="Content" />
	<f:render section="Footer" />
</div>

